@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

div#__nuxt {
  flex: 1 1 100%;
}